<!DOCTYPE html>

<html lang="ru">

<head>

	<meta charset="utf-8">

	<title>Year in Pixel</title>
	<meta name="description" content="">


	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	
	<link rel="stylesheet" href="css/main.css">


</head>

<body >
<div id="app">
<div class="container">
    <label class="color-picking"><input type="radio" name="day" data-type="1" value="bg-red" ><span class="pick-day bg-red"></span>Отличный</label> 
    <label class="color-picking"><input type="radio" name="day" data-type="2" value="bg-orange"><span class="pick-day bg-orange"></span>Хороший</label>
    <label class="color-picking"><input type="radio" name="day" data-type="3" value="bg-yellow" ><span class="pick-day bg-yellow"></span>Обычный</label>
    <label class="color-picking"><input type="radio" name="day" data-type="4" value="bg-maroon"><span class="pick-day bg-maroon"></span>Устал</label>
    <label class="color-picking"><input type="radio" name="day" data-type="5" value="bg-blue"><span class="pick-day bg-blue"></span>Плохой</label>
    <label class="color-picking"><input type="radio" name="day" data-type="6" value="bg-olive"><span class="pick-day bg-olive"></span>Болею</label>
</div>

<div class="rotate" @click="changeView" :class="{rotated: isRotated}"></div>


<transition name="fade" :duration="{ enter: 1000, leave: 0 }">
<table class="horisontalTable GeneratedTable container" v-if="!isRotated">
  <thead>
    <tr>
      <th></th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
      <th>11</th>
      <th>12</th>
      <th>13</th>
      <th>14</th>
      <th>15</th>
      <th>16</th>
      <th>17</th>
      <th>18</th>
      <th>19</th>
      <th>20</th>
      <th>21</th>
      <th>22</th>
      <th>23</th>
      <th>24</th>
      <th>25</th>
      <th>26</th>
      <th>27</th>
      <th>28</th>
      <th>29</th>
      <th>30</th>
      <th>31</th>
    </tr>
  </thead>
    <tr v-for="(month, index) in months">
      <th>{{month}}</th>
      <td v-for="day in 31"
          v-bind:data-day="day"
          v-bind:data-month="index"
          @click="submitDay(index, day-1, Data[index][day-1])"
          :class="{ 
          'bg-red' : Data[index][day-1] == 1,
          'bg-orange' : Data[index][day-1] == 2,
          'bg-yellow' : Data[index][day-1] == 3,
          'bg-maroon' : Data[index][day-1] == 4,
          'bg-blue' : Data[index][day-1] == 5,
          'bg-olive' : Data[index][day-1] == 6,
          'cross-day': Data[index][day-1] == 7,
          'disabled-day': Data[index][day-1] == 8,
          'cross-day': Data[index][day-1] == 0 && (index*31) + day <= ((currMonth-1) *31) + currDay - 7,
            }"
      ></td>
    </tr>
    
</table>
</transition>

<transition name="fade" :duration="{ enter: 1000, leave: 0 }">
<table class="container GeneratedTable" v-if="isRotated">
  <thead>
    <tr>
      <th></th>
      <th>я</th>
      <th>ф</th>
      <th>м</th>
      <th>а</th>
      <th>м</th>
      <th>и</th>
      <th>и</th>
      <th>а</th>
      <th>с</th>
      <th>о</th>
      <th>н</th>
      <th>д</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="day in 31">
      <td class="number-day">{{day}}</td>
      <td v-for="(month, index) in months"
      v-bind:data-day="day"
      v-bind:data-month="index"
      v-bind:data-type="Data[index][day-1]"
      @click="submitDay(index, day-1, Data[index][day-1])"
      :class="{ 
      'bg-red' : Data[index][day-1] == 1,
      'bg-orange' : Data[index][day-1] == 2,
      'bg-yellow' : Data[index][day-1] == 3,
      'bg-maroon' : Data[index][day-1] == 4,
      'bg-blue' : Data[index][day-1] == 5,
      'bg-olive' : Data[index][day-1] == 6,
      'cross-day': Data[index][day-1] == 7,
      'disabled-day': Data[index][day-1] == 8,
      'cross-day': Data[index][day-1] == 0 && (index*31) + day <= ((currMonth-1) *31) + currDay - 7,
        }"
   ></td>

    </tr>

  </tbody>
</table>
</transition>


</div>



	<div class="hidden"></div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="js/vue2-filters.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.19/marked.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>

	
	<script src="js/common.js"></script>




    <script>



        new Vue({
          el: '#app',
          data: {
            Data: [
            '0000000000000000000000000000000',
            '0000000000000000000000550000088',
            '5000005000500000500500000500000',
            '0050500000005050000500050500008',
            '0005000000000500000500500500000',
            '0050500000005000000505000500008',
            '0500050000050000000550000500000',
            '0000500000000000000050000000000',
            '5000005000500000000500000500008',
            '0000000000000000000000000000000',
            '0000000000000000000000000000008',
            '0000000000000000000000000000000'
            ],
            months: [
                'я',
                'ф',
                'м',
                'а',
                'м',
                'и',
                'и',
                'а',
                'с',
                'о',
                'н',
                'д',
            ],
            isRotated: false,
            year: '',
            currYear: '',
            currMonth: '',
            currDay: ''
          },
          created() {
            
            let d = new Date();
            this.currYear = d.getFullYear();
            this.currMonth = d.getMonth()+1;
            this.currDay = d.getDate();

            this.fetchAll();
          },
          methods: {
            fetchAll () {
                this.$http.get('/api/pixels/year/'+this.currYear+'/uid/1').then((response) => {
                    //this.Data = response.data;
                    console.log(response.data[0]);
                    this.year = response.data[0]['year']
                    this.Data = [];
                    this.Data.push(
                            response.data[0]['jan'],
                            response.data[0]['feb'],
                            response.data[0]['mar'],
                            response.data[0]['apr'],
                            response.data[0]['may'],
                            response.data[0]['jun'],
                            response.data[0]['jul'],
                            response.data[0]['aug'],
                            response.data[0]['sep'],
                            response.data[0]['oct'],
                            response.data[0]['nov'],
                            response.data[0]['dec'],
                        );
                })
            },

            updateDay(year, month, day, info) {
                this.$http.get('/api/pixels/year/'+this.year+'/uid/1/type/update', {params: {year: year, month: month, day: day, info: info}}).then((response) => {
                    console.log(response.data);
                })
            },
            submitDay(month, day, info) {
                if((month*31) + day >= ((this.currMonth-1) *31) + this.currDay - 7){
                    if((month*31) + day < ((this.currMonth-1) *31) + this.currDay + 1) {
                        console.log('m')
                        if(info != "8" && info != "7") {
                            var radioValue = $("input[name='day']:checked").data('type');
                            if(!radioValue) console.log('select');
                            else {
                                if(radioValue != info) {
                                    str = this.Data[month].split('')
                                    str[day] = radioValue
                                    this.Data[month] = str.join('')
                                    this.$forceUpdate();

                                    this.updateDay(this.year, month, day, radioValue);
                                }
                            }
                            
                        }
                    }
                    
                }


                
            },
            changeView() {
                this.isRotated = !this.isRotated;
            }

          }
        })
    </script>
</body>
</html>